<?xml version="1.0" encoding="utf-8"?>
<classification>
   <features>
      <feature>
         <name>distance_to_plane_3</name>
         <weight>1.61268818</weight>
      </feature>
      <feature>
         <name>distance_to_plane_4</name>
         <weight>3.16228056</weight>
      </feature>
      <feature>
         <name>eigentropy_1</name>
         <weight>0.82851696</weight>
      </feature>
      <feature>
         <name>eigentropy_2</name>
         <weight>1.62085676</weight>
      </feature>
      <feature>
         <name>eigentropy_3</name>
         <weight>0.340078622</weight>
      </feature>
      <feature>
         <name>eigentropy_4</name>
         <weight>0.412847608</weight>
      </feature>
      <feature>
         <name>elevation_0</name>
         <weight>15.8489618</weight>
      </feature>
      <feature>
         <name>elevation_1</name>
         <weight>15.8489618</weight>
      </feature>
      <feature>
         <name>elevation_2</name>
         <weight>14.5599117</weight>
      </feature>
      <feature>
         <name>elevation_3</name>
         <weight>17.252121</weight>
      </feature>
      <feature>
         <name>elevation_4</name>
         <weight>17.4624767</weight>
      </feature>
      <feature>
         <name>linearity_4</name>
         <weight>0.441073328</weight>
      </feature>
      <feature>
         <name>omnivariance_1</name>
         <weight>0.221060306</weight>
      </feature>
      <feature>
         <name>omnivariance_2</name>
         <weight>0.483293235</weight>
      </feature>
      <feature>
         <name>omnivariance_4</name>
         <weight>0.403459072</weight>
      </feature>
      <feature>
         <name>planarity_2</name>
         <weight>0.00831764005</weight>
      </feature>
      <feature>
         <name>planarity_3</name>
         <weight>0.120226488</weight>
      </feature>
      <feature>
         <name>planarity_4</name>
         <weight>0.0509976633</weight>
      </feature>
      <feature>
         <name>sphericity_1</name>
         <weight>0.794328868</weight>
      </feature>
      <feature>
         <name>sphericity_3</name>
         <weight>0.000242661015</weight>
      </feature>
      <feature>
         <name>sphericity_4</name>
         <weight>0.000237137385</weight>
      </feature>
      <feature>
         <name>sum_eigen_2</name>
         <weight>47.3593063</weight>
      </feature>
      <feature>
         <name>sum_eigen_3</name>
         <weight>211.613281</weight>
      </feature>
      <feature>
         <name>sum_eigen_4</name>
         <weight>531.548523</weight>
      </feature>
      <feature>
         <name>surface_variation_1</name>
         <weight>0.01337568</weight>
      </feature>
      <feature>
         <name>surface_variation_2</name>
         <weight>0.371535361</weight>
      </feature>
      <feature>
         <name>surface_variation_4</name>
         <weight>0.0375837795</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_1</name>
         <weight>1.75594473</weight>
      </feature>
      <feature>
         <name>verticality_2</name>
         <weight>0.0262000002</weight>
      </feature>
      <feature>
         <name>verticality_3</name>
         <weight>1.83298254</weight>
      </feature>
      <feature>
         <name>verticality_4</name>
         <weight>0.0176753718</weight>
      </feature>
   </features>
   <labels>
      <label>
         <name>power_line</name>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigentropy_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigentropy_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigentropy_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigentropy_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>linearity_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>omnivariance_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>omnivariance_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>omnivariance_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>planarity_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>planarity_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>planarity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sphericity_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sum_eigen_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sum_eigen_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sum_eigen_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>surface_variation_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>surface_variation_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>favored</effect>
         </feature>
      </label>
      <label>
         <name>veget</name>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigentropy_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigentropy_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigentropy_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigentropy_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>linearity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>omnivariance_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>omnivariance_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>omnivariance_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>planarity_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>planarity_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>planarity_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>sphericity_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>sphericity_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>sum_eigen_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>surface_variation_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>surface_variation_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>neutral</effect>
         </feature>
      </label>
   </labels>
</classification>
