<?xml version="1.0" encoding="utf-8"?>
<classification>
   <features>
      <feature>
         <name>distance_to_plane_3</name>
         <weight>1.2758497</weight>
      </feature>
      <feature>
         <name>distance_to_plane_4</name>
         <weight>0.0501187518</weight>
      </feature>
      <feature>
         <name>eigentropy_3</name>
         <weight>1.59695172</weight>
      </feature>
      <feature>
         <name>eigentropy_4</name>
         <weight>2.31582737</weight>
      </feature>
      <feature>
         <name>elevation_0</name>
         <weight>5.29090405</weight>
      </feature>
      <feature>
         <name>elevation_1</name>
         <weight>54.361908</weight>
      </feature>
      <feature>
         <name>elevation_2</name>
         <weight>50.000061</weight>
      </feature>
      <feature>
         <name>elevation_3</name>
         <weight>50.000061</weight>
      </feature>
      <feature>
         <name>elevation_4</name>
         <weight>2.13507152</weight>
      </feature>
      <feature>
         <name>omnivariance_3</name>
         <weight>0.506295025</weight>
      </feature>
      <feature>
         <name>omnivariance_4</name>
         <weight>0.762699246</weight>
      </feature>
      <feature>
         <name>planarity_2</name>
         <weight>1.01019156</weight>
      </feature>
      <feature>
         <name>planarity_4</name>
         <weight>0.35241887</weight>
      </feature>
      <feature>
         <name>sphericity_3</name>
         <weight>0.622469604</weight>
      </feature>
      <feature>
         <name>sphericity_4</name>
         <weight>0.474756747</weight>
      </feature>
      <feature>
         <name>sum_eigen_3</name>
         <weight>135.570786</weight>
      </feature>
      <feature>
         <name>sum_eigen_4</name>
         <weight>539.717102</weight>
      </feature>
      <feature>
         <name>surface_variation_3</name>
         <weight>0.320540339</weight>
      </feature>
      <feature>
         <name>surface_variation_4</name>
         <weight>0.303636193</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_0</name>
         <weight>1.58114421</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_1</name>
         <weight>0.69370842</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_2</name>
         <weight>0.69370842</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_3</name>
         <weight>1.25594831</weight>
      </feature>
      <feature>
         <name>vertical_dispersion_4</name>
         <weight>0.99763608</weight>
      </feature>
      <feature>
         <name>verticality_1</name>
         <weight>1.58213794</weight>
      </feature>
      <feature>
         <name>verticality_2</name>
         <weight>1.19253492</weight>
      </feature>
      <feature>
         <name>verticality_3</name>
         <weight>0.196842045</weight>
      </feature>
      <feature>
         <name>verticality_4</name>
         <weight>0.171907321</weight>
      </feature>
   </features>
   <labels>
      <label>
         <name>ground</name>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigentropy_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigentropy_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>omnivariance_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>omnivariance_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>planarity_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>planarity_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>sphericity_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sphericity_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>penalized</effect>
         </feature>
      </label>
      <label>
         <name>veget</name>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigentropy_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>eigentropy_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>omnivariance_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>omnivariance_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>planarity_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>planarity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sum_eigen_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>surface_variation_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>favored</effect>
         </feature>
      </label>
      <label>
         <name>power_line</name>
         <feature>
            <name>distance_to_plane_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>distance_to_plane_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>eigentropy_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>eigentropy_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>elevation_0</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>elevation_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>elevation_4</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>omnivariance_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>omnivariance_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>planarity_2</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>planarity_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sphericity_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sphericity_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>sum_eigen_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>sum_eigen_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>surface_variation_3</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>surface_variation_4</name>
            <effect>penalized</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_0</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_1</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_2</name>
            <effect>favored</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>vertical_dispersion_4</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_1</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_2</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_3</name>
            <effect>neutral</effect>
         </feature>
         <feature>
            <name>verticality_4</name>
            <effect>neutral</effect>
         </feature>
      </label>
   </labels>
</classification>
